
/*----- css reset-------*/
html, /**
 * html5doctor.com Reset Stylesheet v1.6.1 (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 */
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
} 

time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}


/*------------body---------*/
body{
 font-family:circuit, sans-serif;

}
/*------Navs-----*/
ul{
list-style: none;
    
}
a{
text-decoration: none;
   color: black;
    
}
li{
   
display:inline-block;
    vertical-align: middle;
    margin: 4px;
    cursor: pointer;
}
.underline:hover{
border-bottom: solid 1px black;
}
/*------Nav Top-------*/
.NavTop{
width: 100%;
    height: 80px;
}
.NavTop ul{
float: right;
    
}
.NavTop li:visited{
text-decoration: none;
    color: black;
}

#SignIn a{
color: white;
}

.NavTop li:nth-child(5){
background:linear-gradient(to right, #4387fd, #4683ea);
    height: 35px;
    width: 65px;
    color: white;
    text-decoration: underline;
    text-align:center;
    border-radius: 4px;
    line-height: 35px;
}


/*-----google imge-----*/
center {
}
.GoogleImg{
    margin-top:100px ;
    margin-bottom: 20px;
width:400px;
    height: 200px;
        background-image: url(images/Google.png);
background-repeat: no-repeat;
    background-size:contain;
  background-position: center;
}

/*-------search------*/

fieldset{
border: 0;
    height: 100px;
    width: 600px;
}
form input{

	width:600px;
	height:29px;
	cursor:text;
	background: url("images/microphone.png") no-repeat right;
	background-size:25px 25px;
}
form button{
    font-size: 15px;
     font-family:arial, sans-serif;
    margin-top: 30px;
margin-left: 10px;
    height: 35px;
    width: 130px
}
 form input:hover {
	border: 1px solid #AFAFAF;
}

  form input:focus {
	border: 1px solid #6E8AFC;
}


/*------Footer-------*/
footer{
    vertical-align: bottom;
 position: fixed;
    border-top: 1px #e4e4e4 solid ;
    background: #f2f2f2;
position: fixed;
    margin-left: 0px;
    bottom:0;
    width: 100%;
    height: 50px;
}
.BotRight{
float: right;
    white-space: nowrap;
    margin-right: 30px;
     margin-top: 13px;
}
.BotLeft{
float:left;
    margin-top: 13px;
    white-space: nowrap;
    margin-right: 30px;
}
/*------css reset--------*/
